body{
    background: linear-gradient(rgb(48, 0, 0), rgb(14, 14, 14));
    
}
/* had to add font in index.html first */
*{
   font-family: 'Josefin Sans', sans-serif;
   text-align: center;
}

a{
    text-decoration: none;
}

